{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="{{ article.tags|join(', ')  }}">
<meta name="description" content="{{ article.summary }}">
<META NAME="Subject" CONTENT="{{ article.title }}">
<META NAME="Language" CONTENT="fr">
<META NAME="Robots" CONTENT="INDEX,FOLLOW">
{% endblock %}

{% block title %}&ndash; {{ article.title }}{% endblock %}

{% block content %}
<article itemscope itemtype="http://schema.org/NewsArticle">
  <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://google.com/article"/>
  <div class="article_title">
    <h3 itemprop="headline"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
  </div>
  <div class="article_text">
    {{ article.content }}
  </div>
  <hr>
  <div class="article_meta">
      <p itemprop="author" itemscope itemtype="https://schema.org/Person">Posté par : <span itemprop="name">{{ article.author }}</span></p>
    <p>Posté le : {{ article.locale_date }}</p>
    <p>Categores : <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      {% if article.tags %} &ndash; Tags:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </div>

  <span style="display: none" itemprop="description">{{ article.summary }}</span>

  <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <img src="{{ SITEURL }}{{ article.metadata['Image'] }}"/>
      <meta itemprop="url" content="{{ SITEURL }}{{ article.metadata['image'] }}">
      <meta itemprop="width" content="256">
      <meta itemprop="height" content="256">
  </div>

  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <img src="{{ SITEURL }}{{ USER_LOGO_URL }}"/>
          <meta itemprop="url" content="{{ SITEURL }}{{ USER_LOGO_URL }}">
          <meta itemprop="width" content="256">
          <meta itemprop="height" content="158">
      </div>
      <meta itemprop="name" content="Google">
  </div>

  <meta itemprop="datePublished" content="{{ article.date }}"/>
  <meta itemprop="dateModified" content="{{ article.date }}"/>

  {% if DISQUS_SITENAME %}
  <div id="article_comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
  </div>
  {% endif %}

</article>
{% endblock %}
